Colon
Dot
Finish
FrameLeft
FrameRight
Gauge
Judge0
Judge1
Judge2
Judge3
Judge4
Judge5
Line
Loading
Note
NumberBig
NumberSmall
Option
Progress
RankA
RankAA
RankAAA
RankB
RankC
RankD
RankE
RankF
Shutter
7.lr2skin
7b.lr2skin
